{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    <div class="fixed-background">
      
                <style>
            .fixed-background {
            background: url("../img/background/statistique.jpg") no-repeat center center fixed;
             background-size: cover;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            </style>
      </div>



{% endblock %}